<div>
    {{ form.tech_nom.label }} {{ form.tech_nom() }}
</div>
<div>
    {{ form.tech_prenom.label }} {{ form.tech_prenom() }}
</div>
<div>
    {{ form.tech_matricule.label }} {{ form.tech_matricule() }}
</div>
<div>
    {{ form.tech_telephone.label }} {{ form.tech_telephone() }}
</div>
<div>
    {{ form.tech_immatriculation.label }} {{ form.tech_immatriculation() }}
</div>
<div>
    {{ form.tech_email.label }} {{ form.tech_email() }}
</div>
<div>
    {{ form.tech_adresse.label }} {{ form.tech_adresse() }}
</div>
<div>
    {{ form.tech_ville.label }} {{ form.tech_ville() }}
</div>
<div>
    {{ form.tech_code_postal.label }} {{ form.tech_code_postal() }}
</div>
<div>
    {{ form.tech_charge_affaires.label }} {{ form.tech_charge_affaires() }}
</div>
<div>
    {{ form.tech_agence.label }} {{ form.tech_agence() }}
</div>

