<div>
    {{ form.charge_nom.label }} {{ form.charge_nom() }}
</div>
<div>
    {{ form.charge_prenom.label }} {{ form.charge_prenom() }}
</div>
<div>
    {{ form.charge_matricule.label }} {{ form.charge_matricule() }}
</div>
<div>
    {{ form.charge_telephone.label }} {{ form.charge_telephone() }}
</div>
<div>
    {{ form.charge_immatriculation.label }} {{ form.charge_immatriculation() }}
</div>
<div>
    {{ form.charge_email.label }} {{ form.charge_email() }}
</div>
<div>
    {{ form.charge_adresse.label }} {{ form.charge_adresse() }}
</div>
<div>
    {{ form.charge_ville.label }} {{ form.charge_ville() }}
</div>
<div>
    {{ form.charge_code_postal.label }} {{ form.charge_code_postal() }}
</div>
<div>
    {{ form.charge_agence.label }} {{ form.charge_agence() }}
</div>

