    <p>
        {{ form.charge_nom.label }}<br>
        {{ form.charge_nom(class="input-field", placeholder="Nom", size=16) }}<br>
    </p>
    <p>
        {{ form.charge_prenom.label }}<br>
        {{ form.charge_prenom(class="input-field", placeholder="Prénom", size=16) }}<br>
    </p>
    <p>
        {{ form.charge_matricule.label }}<br>
        {{ form.charge_matricule(class="input-field", placeholder="Matricule", size=16) }}<br>
    </p>
    <p>
        {{ form.charge_telephone.label }}<br>
        {{ form.charge_telephone(class="input-field", placeholder="Téléphone", size=16) }}<br>
    </p>
    <p>
        {{ form.charge_immatriculation.label }}<br>
        {{ form.charge_immatriculation(class="input-field", placeholder="Immatriculation du véhicule", size=16) }}<br>
    </p>
    <p>
        {{ form.charge_email.label }}<br>
        {{ form.charge_email(class="input-field", placeholder="Email", size=16) }}<br>
    </p>
    <p>
        {{ form.charge_adresse.label }}<br>
        {{ form.charge_adresse(class="input-field", placeholder="Adresse", size=16) }}<br>
    </p>
    <p>
        {{ form.charge_ville.label }}<br>
        {{ form.charge_ville(class="input-field", placeholder="Ville", size=16) }}<br>
    </p>
    <p>
        {{ form.charge_code_postal.label }}<br>
        {{ form.charge_code_postal(class="input-field", placeholder="Code postal", size=16) }}<br>
    </p> 
    <p>
        {{ form.charge_agence.label }}<br>
        {{ form.charge_agence(class="form-control") }}<br>
    </p> 

    
    <p>{{ form.submit(class="btn") }}</p>
