/*****************************************************************************************************
***************************************** PAGE CREATION UTILISATEUR ********************************
*****************************************************************************************************/
h1 {
  color: #000033;
  font-size: 28px;
  margin-bottom: 30px;
}

form {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; /* Limite la largeur du formulaire */
  margin: 30px ;
  margin-left:0px;
  background-color: #7F7F7F33;
  align-items: center;
}

p {
  margin-bottom: 15px;
  font-size: 16px;
}

label {
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;  /* Permet à l'input et au domaine de s'adapter à la largeur du formulaire */
}

.input-field {
  width: 90%;  /* L'input occupe 90% de l'espace disponible */
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin: 5px;
}

.input-field:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}

.domain {
  margin-left: 5px; /* Petit espacement entre l'input et le domaine */
  margin-right: 15px;
  font-size: 25px;
  color: #555;
  padding: 8px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  white-space: nowrap; /* Empêche le domaine de se casser en ligne */
}

.form-control {
  width: 97%;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}

/* Boutons */
.btn {
  background-color: #000033;
  color: white;
  padding: 12px 24px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%;
}

.btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.error {
  display: inline-block;
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}
