/*****************************************************************************************************
***************************************** PAGE CREATION UTILISATEUR ********************************
*****************************************************************************************************/
h1 {
  color: #000033;
  font-size: 28px;
  margin-bottom: 30px;
}

form {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 30px;
  margin-left: 0px;
  background-color: #7F7F7F33;
  align-items: center;
}

label {
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
}

input[type="text"], input[type="password"], select {
  width: 90%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin: 5px;
}

input[type="text"]:focus, input[type="password"]:focus, select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}

/* Nouveau style pour les champs de date */
input[type="date"] {
  width: 90%;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
  position: relative;
  background-color: white;
}

/* Style pour l'icône du calendrier */
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  padding: 0;
}

.form-control {
  width: 97%;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}

.form-mission {
  width: 91%;
  height: 150px;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: left;
  overflow-y: auto;
  vertical-align: top;
  display: block;
}

.form-mission:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}

.btn {
  background-color: #000033;
  color: white;
  padding: 12px 24px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%;
}

.btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.error {
  display: inline-block;
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}

